<% include partials/header %>

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Hannibal!</h1>
             <p>Online Shopping Website</p>
         </div>
     </header>
</div>

<% include partials/footer %>
