#error_username{
	display: inline-block; 
	float:left;
	color:red;
}

#user_name{
	float:left;
}

ul.navi{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navi li{
	float:left;
}

ul.navi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	
}

ul.navi li a:hover {
	background-color: #111;
}

div.categoryBar{
   font-style: normal;
   font-size:30px;
   margin: 8px 0px;
}

div.categoryProducts{
	margin:5px 0px;
    height: 300px;
    background-color:powderblue; 
}