<h1 id="the-heading">Upload your product!</h1>
<div class = "row">
  <div class = "col-sm-12">
    <form id = "static-form" ref='uploadForm' 
     id='uploadForm' 
     action='http://localhost:3000/hannibal/product' 
     method='post' 
     encType="multipart/form-data">
      <div class = "form-group">
        <label for="name">Please type product's name: </label><br>
        <input type="text" name="name" id="name" placeholder="Product's name"/><br><br>
      </div>

      <div class = "form-group">
        <label for="price">Please type product's price: </label><br>
        <input type="number" name="price" id="price" placeholder="Product's price" step="0.01"/><br><br>
      </div>
          
      <div class = "form-group">
        <label for="description">Please type product's description: </label><br>
        <input type="text" name="description" id="description" placeholder="Product's description"/><br><br>
      </div>
      
      <div class = "form-group">
        <label for="contact_email">This is your default email: </label><br>
        <input type="text" name="contact_email" id="contact_email" /><br><br>
      </div>

      <div class = "form-group">
        <label for="category_id">Please choose the category: </label><br>
        <input type="number" id="category_id" name="category_id"/><br><br>
      </div>

      <input type="hidden" name = "user_id" value="02">

      <div class = "form-group">
        <label for="pics">Please upload a picture: </label><br>
        <input type="file" name="pics" id="pics"/> <br><br>
      </div>

        <input type="submit" class="btn btn-default" value='Upload!' />
      
    </form>    

  </div>
</div> 

